env:
  matrix:
    - RUBY=ruby-2.0.0-p451
    - RUBY=ruby-2.1.1
  global:
    - secure: "TS9xjZJRLG9/yzF3KAVuAMOq2fOjswQq/oSV/dIzaW0/XRnZxl/M+kwJsxdVfoXAC7s+etzT/plI9CafEccfujm9zMS2QQDz18RJzZ9Z0VIdOMA0v1Y2je27xw22FkUsRmm62fvCiBQvZgVOrX+A2+OhNzkXD85bCvkRNuIgMd8="
language: objective-c
install: curl -L https://get.smf.sh | sh
before_script:
  - export PATH="$HOME/.sm/bin:$HOME/.sm/pkg/active/bin:$PATH"
  - rvm get head
  - rvm autolibs smf
  - sudo mkdir -p /etc/openssl
  - "sudo chown -R $USER: /etc/openssl"
  - rvm remove $RUBY
script: rvm install $RUBY --movable
after_success:
  - rvm use $RUBY
  - "if which otool >/dev/null ; then otool -L $MY_RUBY_HOME/bin/ruby ; fi"
  - ruby -v
  - ruby -ropenssl -ryaml -e 'puts ["libyaml "+Psych::LIBYAML_VERSION, OpenSSL::OPENSSL_VERSION]'
  - ruby -ropenssl -ryaml -ropen-uri -e 'puts(open("https://google.com").each_line.first.to_yaml)'
  - rvm prepare $RUBY
  - cat < .known_hosts >> ~/.ssh/known_hosts
  - openssl aes-256-cbc -pass env:UPLOAD_PASSWORD -d -in travis_rsa.enc -out travis_rsa
  - chmod 600 travis_rsa
  - scp -i travis_rsa $RUBY.tar.bz2 upload@rvm.io:~/
after_failure:
  - find $rvm_path/log/ -type f | xargs ls -t | head -n 1 | xargs cat
notifications:
  irc:
    channels:
      - "irc.freenode.org#rvm-test"
  email:
    recipients:
      - mpapis@gmail.com
    on_failure: change
